<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse itaque magnam qui culpa natus consectetur ipsam sequi!
        Vitae quas in voluptate necessitatibus. Incidunt ducimus iusto veniam quia corporis quasi porro.</p>

    {{> footer}}
</body>

</html>